extends layout

block content
  //- check if data exists otherwise initialize with empty object
  -data = data || {}

  form(action="." method="POST" class="registration-form")
    .form-group
      label(for="name") Name:
      input(
        type="text"
        id="name"
        class="form-control"
        name="name"
        autocomplete="off"
        value=data.name
      )

    .form-group
      label(for="email") Email:
      input(
        type="text"
        id="email"
        class="form-control"
        name="email"
        autocomplete="off"
        value=data.email
      )

    if errors
      ul
        for error in errors
          li= error.msg

    button(
      type="submit"
      class="btn btn-lg btn-primary btn-block"
    ) Submit